body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column; /* スマートフォンでは縦並び */
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 4px solid black;
}

.item {
    margin: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.interest, .comment {
    font-weight: bold;
}

/* 画面幅が600px以上の場合に適用されるスタイル */
@media screen and (min-width: 600px) {
    .container {
        flex-direction: row; /* タブレットやPCでは横並び */
    }

    .footer {
        flex-direction: row;
    }
}
